
@{
    ViewBag.Title = "Search";
    ViewBag.navbarColor = "blue";
}

<main>
    <!--Main Container-->
    <div class="container">
        <!--Section: Basic Product Listing-->
        <section id="products">
            <div class="divider-new"></div>
            <div class="row">

                <div class="col-md-3">
                    <!--Sorting: radio buttons-->
                    <div class="card-panel sort-panel hoverable">
                        <h5 class="col-title">Brands</h5>
                        <hr>
                        <label for="cat-1">Top Brands</label>
                        <form class="brands" action="/search/Range">
                            <div class="md-form form-group">
                                <input name="cId" type="radio" id="cat-0" checked value="0" />
                                <label for="cat-0">All</label>
                            </div>
                            @{
                                int cIndex = 0;
                            }
                            @foreach (var item in Model.brands.GetRange(0, 3))
                            {
                                cIndex++;
                                <div class="md-form form-group">
                                    <input name="cId" type="radio" id="cat-@cIndex" value="@item.id" />
                                    <label for="cat-@cIndex">@item.name</label>
                                </div>

                            }


                            <div class="md-form form-group">
                                <span class="green-text m-range">1500</span><i class="material-icons">attach_money</i>
                                <input type="range" id="form91" class="form-control validate m-range-input" min="0" step="10" max="3000" name="low">
                                <label for="form91" data-error="wrong" data-success="right">Low price</label>
                            </div>

                            <div class="md-form form-group">
                                <span class="green-text m-range">2300</span><i class="material-icons">attach_money</i>
                                <input type="range" id="form92" class="form-control validate m-range-input" min="0" step="10" max="5000" name="high">
                                <label for="form92" data-error="wrong" data-success="right">High price</label>
                            </div>

                            <div class="md-form form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Search</button>
                            </div>

                        </form>

                    </div>
                    <!--/.Sorting: radio buttons-->
                </div>
                <div class="col-md-9">
                    @foreach (var item in Model.products.Count >= 8 ? Model.products.GetRange(0,8) : Model.products)
                    {
                        var image = item.image + ".jpg";
                        <div class="col-md-3">

                            <!--Card-->
                            <div class="card card-product hoverable m-product">

                                <!--Image-->
                                <div class="card-image waves-effect waves-block waves-light view overlay hm-white-slight">
                                    <img class="m-product-img" src="~/Content/Images/@image" />
                                </div>
                                <!--/.Image-->
                                <!--Card content: Name and price-->
                                <div class="card-content text-center">
                                    <div class="row">
                                        <a class="product-item" data-id="@item.id"><h5 class="product-title">@item.name</h5></a>
                                    </div>
                                    <div>
                                        <p class="card-text">@item.description.Substring(0, 20) ...</p>
                                    </div>
                                    <div class="price">
                                        <p class="green-text medium-500 m-product-price">@item.price<span class="discount light-300 black-text">$900</span></p>
                                    </div>
                                </div>
                                <!--/.Card content: Name and price-->
                              
                            </div>
                            <!--/.Card-->

                        </div>

                    }


                </div>

               
            </div>



        </section>
        <!--/.Section: Basic Product Listing-->
    </div>
</main>
@Scripts.Render("~/bundles/jquery")
<!-- SCRIPTS-->
<script>
        $(document).ready(function () {

            $('.product-item').click(function () {
                var iId = $(this).attr("data-id");
                $.redirectPost('/detail', { id: iId });
            });

            // jquery extend function
            $.extend(
            {
                redirectPost: function (location, args) {
                    var form = '';
                    $.each(args, function (key, value) {
                        form += '<input type="hidden" name="' + key + '" value="' + value + '">';
                    });
                    $('<form action="' + location + '" method="POST">' + form + '</form>').appendTo('body').submit();
                }
            });

            $('.m-range-input').change(function () {
                var value = $(this).val();
                $(this).parent('.md-form').find('.m-range').text(value);
            });
        });

</script>